<%= form_for(@question) do |f| %>
  
  <div class"field">
    <%= f.label :question %>
    <%= f.text_field :question %>
  </div>
  <div class"field">
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </div>
  <div class"field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>
  <div class"field">
    <%= f.label :visibility %>
    <%= f.text_field :visibility %>
  </div>
  
<% end %>