<table>
    <tr>
      <th>Topic</th>
      <th>Question</th>
      <th>Size</th>
      <th>Visibility</th>
      <th></th>
      <th></th>
      
    </tr>      
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.topic %></td>
      <td><%= link_to question.question, question %></td>
      <td><%= question.size %></td>
      <td><%= question.visibility %></td>
      <td><%= link_to 'edit', edit_question_path(question) %></td>
      <td><%= link_to 'kill', question, confirm: "Are you a hotshot?", method: :delete %></td>
    </tr>
    <% end %>
</table>
<%= link_to 'New Question', new_question_path %>