<table>
    <tr>
      <th>Topic</th>
      <th>Question</th>
      <th>Size</th>
      <th>Visibility</th>
    </tr>      
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.topic %></td>
      <td><%= question.question %></td>
      <td><%= question.size %></td>
      <td><%= question.visibility %></td>
    </tr>
    <% end %>
</table>
<%= link_to 'New Question', new_question_path %>